body{
    background-color: rgb(223, 177, 185);
}

h1{
    color: blue;
    font-size: 30px;
    font-weight: 600;
}

h2{
    color: rgb(29, 131, 29);
    font-size: 25px;
}

li{
    color: rgb(231, 21, 21);
}